<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin DJaeger</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/app.css" />
  </head>
  <body>
    <main class="absolute w-full h-screen">
      <div class="flex items-center justify-center w-full h-full">
        <div class="flex flex-col justify-center h-full">
          <div
            class="flex flex-col items-center justify-center gap-6 lg:justify-between h-1/2"
          >
            <article class="flex flex-col gap-3 text-center">
              <h1 class="text-4xl font-bold text-white lg:text-6xl">
                Reset Password
              </h1>
              <h2 class="text-lg font-semibold opacity-75 lg:text-2xl">
                of your registered email
              </h2>
            </article>
            <div
              class="flex justify-center w-full px-6 py-12 bg-white bg-opacity-50 shadow-lg rounded-3xl"
            >
              <form action="" method="post" class="flex flex-col w-full gap-4">
                <div class="flex flex-col w-full gap-8">
                  <div class="input-wrapper">
                    <input
                      type="email"
                      class="w-full px-3 py-2 transition-all bg-gray-200 border-b-2 border-black rounded-lg outline-none focus:border-blue-800"
                      id="email"
                      name="email"
                      required
                    />
                    <label
                      for="email"
                      class="transition-all ease-out floating input-label"
                      >Email</label
                    >
                  </div>
                </div>
                <button
                  type="submit"
                  class="w-full px-4 py-2 font-bold text-white bg-blue-600 rounded-lg hover:bg-blue-800"
                >
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

    <figure class="lg:hidden">
      <svg viewBox="0 0 1320 1600">
        <path
          d="M0,1350 C220,1250,440,1250,660,1350 C880,1450,1100,1450,1320,1350 L1320,0 L0,0"
          fill="#1cc7f2"
          class="cyan-wave-sm"
        />
        <path
          d="M0,1350 C220,1250,440,1250,660,1350 C880,1450,1100,1450,1320,1350 L1320,0 L0,0"
          fill="#1c64f2"
          class="opacity-50 blue-wave-sm"
        />
        <path
          d="M0,1350 C220,1250,440,1250,660,1350 C880,1450,1100,1450,1320,1350 L1320,0 L0,0"
          fill="#791cf2"
          class="opacity-25 purple-wave-sm"
        />
      </svg>
    </figure>
    <figure class="hidden lg:block">
      <svg viewBox="0 0 1320 600">
        <path
          d="M0,450 C220,350,440,350,660,450 C880,550,1100,550,1320,450 L1320,0 L0,0"
          fill="#1cc7f2"
          class="cyan-wave-lg"
        />
        <path
          d="M0,450 C220,350,440,350,660,450 C880,550,1100,550,1320,450 L1320,0 L0,0"
          fill="#1c64f2"
          class="opacity-50 blue-wave-lg"
        />
        <path
          d="M0,450 C220,350,440,350,660,450 C880,550,1100,550,1320,450 L1320,0 L0,0"
          fill="#791cf2"
          class="opacity-25 purple-wave-lg"
        />
      </svg>
    </figure>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
      integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
      integrity="sha512-F5QTlBqZlvuBEs9LQPqc1iZv2UMxcVXezbHzomzS6Df4MZMClge/8+gXrKw2fl5ysdk4rWjR0vKS7NNkfymaBQ=="
      crossorigin="anonymous"
    ></script>
    <script src="/public/js/controller/inputController.js"></script>
    <script src="/public/js/Animation/bgAnimation.js"></script>
  </body>
</html>
